.login {
    padding: 3em 5em;
    display: block;
    width: 100;
}

.loginInner {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.loginForm {
    float: left;
    display: block;
}

.loginHeader {
    margin-bottom: 2em;
}

.loginHeader h1 {
    color: #000000;
}

.loginHeader h3 {
    font-weight: 500;
    color: #929292;
}

.loginContent {
    margin-bottom: 2em;
}

.loginBanner {
    float: right;
    display: block;
}